<html>
<body class = "darken">
<div class = "Home_title">Naked Voices
<div class = "Smaller_subtitle">UCSB's Premiere Co-ed A Cappella Group</div><br>
</div>
<div class = "Smaller_subtitle">We're giving away two tickets to Pentatonix!</div><br>
<center><%=link_to "See Details on Entry", show_events_path, class: "btn btn-primary btn-lg"%></center>
 	<div class = "Home_event_no_bold">
 		<div style="float:left; width:50%; padding: 10px;">
			Help support Naked Voices fund their spring concert this quarter! All donations over $5 come with a ticket to our concert and a raffle entry to win two pairs of tickets to Pentatonix on April 30th! Support us on Indiegogo by clicking the image below or learn more on how to enter the giveaway. <br> <%=link_to "Learn More", show_events_path, class: "btn btn-primary btn-lg"%>
			

			<br><br>
			<center><iframe src="https://www.indiegogo.com/project/naked-voices-spring-concert/embedded/13320504" width="222px" height="445px" frameborder="0" scrolling="no"></iframe></center>
			
		</div>
		
		<div style="float:right; width:50%; padding: 10px;">
			Join Naked Voices in seeing Pentatonix at the Santa Barbara Bowl on Saturday, April 30, 2016 at 7:00pm! Buy tickets by clicking the image below.
			Want to find out how you can enter a raffle to win two pairs of tickets to this concert for FREE?<br>
			<%=link_to "Learn More", show_events_path, class: "btn btn-primary btn-lg"%><br>
			<br>
			<a href = "http://www.axs.com/events/306896/pentatonix-tickets?skin=sbbowl">
			<%= image_tag "pentatonix.jpg", class: "pentatonix_home_image" %></a>
			
		</div>


	</div>


</body>
</html>



