<html>
<body class = "darken">
<div class = "Home_title">NAKED VOICES
<div class = "Smaller_subtitle">UCSB's Premiere Co-ed A Cappella Group</div>
</div>
<div class = "Smaller_subtitle">We're having our Fall 2016 Auditions!</div><br>
<center><%=link_to "See Audition Details", show_events_path, class: "btn btn-primary btn-lg"%></center>
</body>
</html>



