<html>
<body class = "darken">
<div class = "Event_large_title">Naked Voices Auditions
	<div class = "Smaller_subtitle">Join our Group!</div></div><br>
	<div class = "wrapper">
	<div class = "Event_writing">

			<span class = "larger"> How to Audition</span><br>
			<div style="padding-left:1em;text-align:left;">
			&#8226; Auditions are being held <span class = "event_important_color">9/26/2016 - 9/30/16</span> 6:00pm - 8:00pm with callbacks on <span class = "event_important_color">10/2/16</span><br>
			<br>&#8226; Auditions will be held in HSSB 1105 for every day <span class = "event_important_color">except</span> Thursday. Thursday's audition room is TBA<br>
			<br>&#8226; To sign up for an audition, please either message us on <a href="https://www.facebook.com/UCSBLetsSingNakey">Facebook</a> or send an email to nakedvoices@yahoo.com<br>
			<br>&#8226; Please prepare 60 seconds of a verse and chorus of a contemporary/pop song <br>
			<br>&#8226; If you have any questions, don't hesitate to contact us. We can't wait to hear your audition! <br><br>
			</div>		</div>

			<%= link_to "HSSB 1105 on Campus Map", events_download_path, class: "btn btn-primary" %>

	</div><br><br><br><br>
</body>
</html>
