/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.Contact_heading {
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
	font-size: 35px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}

.Contact_info {
	padding: 2px;
	border-style: solid;
	font-family: 'Francois One', sans-serif;
	width: 390px;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}
