/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.shirts {
	height: 45%;
	width: 45%;
}
.pay_link_venmo {
	height:30px;
	width: 90px;
}

.pay_link_venmo:hover{
	height:31px;
	width: 93px;
}

.pay_link_tilt {
	height:28px;
	width: 98px;
}

.pay_link_tilt:hover{
	height:29px;
	width: 101px;
}

.Event_description {
	padding: 2px;
	padding-right: 4px;
	padding-left: 4px;
	border-style: solid;
	font-family: 'Roboto', sans-serif;
	/*font-weight: bold;*/
	width: 50%;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}

.Event_writing_no_bold {
	font-family: 'Roboto', sans-serif;
	width: 60%;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;

}
.Event_writing {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	width: 60%;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}

.important_color {
	font-size: 30px;
	color: #990000;
	-webkit-text-stroke: 1px black;

}
