/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.shirts {
	height: 45%;
	width: 45%;
}
.pay_link_venmo {
	height:30px;
	width: 90px;
}

.pay_link_venmo:hover{
	border: 1px solid grey;
}

.pay_link_tilt {
	height:28px;
	width: 98px;
}

.pay_link_tilt:hover{
	border: 1px solid grey;
}

@media (min-width:768px) {
	.Event_description {
		padding: 2px;
		padding-right: 4px;
		padding-left: 4px;
		border-style: solid;
		font-family: 'Roboto', sans-serif;
		/*font-weight: bold;*/
		width: 70%;
		font-size: 25px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: white;
		background: rgba(128, 128, 128, .5)75
	}
	.Event_writing_no_bold {
		font-family: 'Roboto', sans-serif;
		width: 60%;
		font-size: 25px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: white;

	}
	.Event_writing {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		width: 60%;
		font-size: 25px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: white;
	}

}
.Event_description {
	padding: 2px;
	padding-right: 4px;
	padding-left: 4px;
	border-style: solid;
	font-family: 'Roboto', sans-serif;
	/*font-weight: bold;*/
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	background: rgba(128, 128, 128, .75);
}

.Event_writing_no_bold {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;

}
.Event_writing {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}

.important_color {
	font-size: 30px;
	color: #990000;
	font-weight: bold;

}
