/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.Event_large_title {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: white;
/*  -webkit-text-stroke: 1px black;
*/}

.event_photo {
	width: 95%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/*784 295*/
.shirts {
	height: 45%;
	width: 45%;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}

.pay_link_venmo {
	height:30px;
	width: 90px;
	text-decoration: none;
}

.pay_link_venmo:hover{
	border: 1px solid grey;
	text-decoration: none;
}

.pay_link_tilt {
	height:28px;
	width: 98px;
	text-decoration: none;
}

.pay_link_tilt:hover{
	border: 1px solid grey;
	text-decoration: none;
}

.event_photo:hover {
		border: 3px solid #AE0001;
		text-decoration: none;
	}

.event_left_column {
	float:left;
	width:50%;
	text-align: left;
	font-size: 15px;
}

.event_right_column {
	float:right;
	width:50%;
	text-align: left;
	font-size: 15px;
}
@media (min-width:768px) {
	.Event_large_title {
	  font-family: 'Francois One', sans-serif;
	  font-weight: bold;
	  font-size: 85px;
	  text-align: center;
	  color: white;
	}
	.event_left_column {
		float:left;
		width:50%;
		padding-right: 40px;
		text-align: left;
		font-size: 20px;
	}

	.event_right_column {
		float:right;
		width:50%;
		padding-left: 40px;
		text-align: left;
		font-size: 20px;
	}
	.event_photo {
		width: 65%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	
	.wrapper {
		margin-left: auto;
		margin-right: auto;
		width: 85%;
		text-align: center;
	}
	.Event_description {
		font-family: 'Francois One', sans-serif;
		color: white;
		display:inline-block;
		font-size: 20px;
		text-align: left;
	}

	.Event_writing_no_bold {
		font-family: 'Francois One', sans-serif;
		width: 60%;
		font-size: 25px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: white;

	}
	.Event_writing {
		padding-top: 10px;
		font-family: 'Francois One', sans-serif;
		font-weight: bold;
		width: 70%;
		font-size: 25px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: white;
	}

}

.wrapper {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
}
.Event_description {
	font-family: 'Francois One', sans-serif;
	width: 98%;
	color: white;
	display:inline-block;
}

.Event_writing_no_bold {
	font-family: 'Francois One', sans-serif;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;

}
.Event_writing {
	padding-top: 10px;
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	color: white;
}
.red {
	color: #AE0001;
}
.event_important_color {
	color: #AE0001;
	font-weight: bold;

}
