// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);



.Home_title {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 85px;
	text-align: center;
	color: white;
/* 	-webkit-text-stroke: 1px black;
*/}

.Smaller_subtitle {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	color: white;
/* 	-webkit-text-stroke: 1px black;
*/}