// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Francois+One:400,900);

.larger {
	font-size: 35px;
	font-weight: bold;
	padding-bottom: 10px;
}

.Home_title {
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
	font-size: 85px;
	text-align: center;
	color: white;
/* 	-webkit-text-stroke: 1px black;
*/}

iframe {
	display:block;
}
.Smaller_subtitle {
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	color: white;
/* 	-webkit-text-stroke: 1px black;
*/}


@media (min-width:768px) {
	.Home_event_no_bold {
		text-align: center;
		font-family: 'Francois One', sans-serif;
		font-size: 20px;
		color: white;
		vertical-align: middle;
		display: inline-block;
		margin: 0 auto;
		padding: 25px;


	}


}

.Home_event_no_bold {
	margin: 0 auto;
	display: inline-block;
	font-family: 'Francois One', sans-serif;
	font-size: 20px;
	color: white;
	vertical-align: middle;
	text-align: center;
}

.pentatonix_home_image {
	width:60%;
	height:80%;
}

.indiegogo_home_image {
	width:40%;
	height:60%;
}

.indiegogo_home_image:hover {
	width:41%;
	height:61%;
}

.pentatonix_home_image:hover{
	width:61%;
	height:81%;
}

.home_important_color {
	color: #AE0001;
}