// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);




body { 
	padding-top: 105px;
	padding-bottom: 80px;
  background: image-url(laaf_banner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    image-url(laaf_banner.jpg);
}

.Home_title {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 85px;
	text-align: center;
	color: white;
/* 	-webkit-text-stroke: 1px black;
*/}

.Smaller_subtitle {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	color: white;
/* 	-webkit-text-stroke: 1px black;
*/}