// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Francois+One);

.larger {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
}

.Home_title {
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
	font-size: 70px;
	text-align: center;
	color: white;
/* 	-webkit-text-stroke: 1px black;
*/}

iframe {
	display:block;
}
.Smaller_subtitle {
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: white;
/* 	-webkit-text-stroke: 1px black;
*/}

.home_right_column {
	float:right;
	width:50%;
	padding-left: 10px;
	text-align: center;
	font-size: 15px;

}

.home_left_column {
	float:left;
	width:50%;
	padding-right: 10px;
	text-align: center;
	font-size: 15px;
}
@media (min-width:768px) {
	.Home_event_no_bold {
		text-align: center;
		font-family: 'Francois One', sans-serif;
		color: white;
		vertical-align: middle;
		display: inline-block;
		margin: 0 auto;
		padding: 25px;


	}

	.Home_title {
		font-family: 'Francois One', sans-serif;
		font-weight: bold;
		font-size: 85px;
		text-align: center;
		color: white;
	/* 	-webkit-text-stroke: 1px black;
	*/}

	.larger {
		font-size: 35px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	.home_right_column {
		font-size: 20px;
		float:right;
		width:50%;
		padding-left: 40px;
		text-align: center;
	}

	.home_left_column {
		font-size: 20px;
		float:left;
		width:50%;
		padding-right: 40px;
		text-align: center;
	}

	.Smaller_subtitle {
		font-family: 'Francois One', sans-serif;
		font-weight: bold;
		font-size: 25px;
		text-align: center;
		color: white;
	/* 	-webkit-text-stroke: 1px black;
	*/}


}

.Home_event_no_bold {
	margin: 0 auto;
	display: inline-block;
	font-family: 'Francois One', sans-serif;
	color: white;
	vertical-align: middle;
	text-align: center;
}

.pentatonix_home_image {
	width:60%;
	height:80%;
}

.indiegogo_home_image {
	width:40%;
	height:60%;
}

.indiegogo_home_image:hover {
	width:41%;
	height:61%;
}

.pentatonix_home_image:hover{
	width:61%;
	height:81%;
}

.home_important_color {
	color: #AE0001;
}